<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
  <div class="ui three item menu">
    <a class="active item" href="/login" style="transition-property: -background, box-shadow, -color, box-shadow !important; background-color: rgba(0, 0, 0, 0.05) !important; --link-color:rgba(217, 212, 209, 0.95) !important; --link-color-hover:rgba(217, 212, 209, 0.95) !important; --link-color-active:rgba(217, 212, 209, 0.95) !important; --visited-color:rgba(217, 212, 209, 0.95) !important; --visited-color-hover:rgba(217, 212, 209, 0.95) !important; --visited-color-active:rgba(217, 212, 209, 0.95) !important;" before-style="4">Login</a>
    <a class="item" onclick="" href="/register" style="--link-color:rgba(232, 228, 227, 0.87) !important; --link-color-hover:rgba(232, 228, 227, 0.87) !important; --link-color-active:rgba(232, 228, 227, 0.87) !important; --visited-color:rgba(232, 228, 227, 0.87) !important; --visited-color-hover:rgba(232, 228, 227, 0.87) !important; --visited-color-active:rgba(232, 228, 227, 0.87) !important;" before-style="139">Register</a>
  </div>
    <div class="ui container" style="width: 600px;">
        <% if(error != null){ %>
          <div class="ui red message"><%= error %></div>
        <% } %> 
        <form class="ui form" style="margin-top: 40%;" action="/login" method="POST">
            <div class="field">
              <label>Name</label>
              <input type="text" name="username" placeholder="First Name" style="background-color: rgb(34, 36, 37) !important; --placeholder-color:rgba(232, 229, 227, 0.6) !important; border-color: rgba(140, 122, 115, 0.15) !important;">
            </div>
            <div class="field">
              <label>Password</label>
              <input type="password" name="password" placeholder="Last Name" style="background-color: rgb(34, 36, 37) !important; --placeholder-color:rgba(232, 229, 227, 0.6) !important; border-color: rgba(140, 122, 115, 0.15) !important;">
            </div>
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" style="--placeholder-color:rgba(232, 229, 227, 0.6) !important;" tabindex="0" class="hidden">
                <label before-style="64">I agree to the Terms and Conditions</label>
              </div>
            </div>
            <button class="ui button" type="submit" style="background-color: rgb(23, 27, 28) !important; color: rgba(232, 229, 227, 0.6) !important;">Submit</button>
        </form>
    </div>
    
    <%- include('../partials/footer'); %>
</body>
</html>